body{
  background-color: #0d192b;
  font-family: 'Outfit', sans-serif;
  font-size: 18px;
  margin: 0;
}

main{
  background-color: #14253d;
  border-radius: 1rem;
  box-shadow: 1px 14px 58px 1px rgba(0,0,0,0.69);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 21rem;
  height: 37rem;
  margin: 2rem auto;
}

@media (max-width: 375px){
  main{
    margin-right: 1rem;
    margin-left: 0.8rem;
  }
}

/* Card Header */

.card-header{
  position: relative;
  width: 85%;
}

.overlay{
  border-radius: 0.4rem;
  position: absolute;
  top: 1.6rem;
  bottom: 1rem;
  left: 1.6rem;
  right: 1.6rem;
  height: 86.6%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: #00fff7;
}

.card-header:hover .overlay{
  opacity: 0.5;
}

.card-header:hover{
  color: #00fff7;
  cursor: pointer;
}

.icon{
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.equilibrium{
  border-radius: 0.4rem;
  margin: 1.6rem 1.6rem 1rem 1.6rem;
  width: 100%;
}

h1{
  color: #ffffff;
  font-size: 22px;
  margin: 0 1.7rem;
}

h1:hover, .name:hover{
  color: 	#00fff7;
  cursor: pointer;
}

.card-text{
  color: #8bacda;
  font-weight: 300;
  margin: 1rem 1.7rem;
}

/* Card Body */

.card-body{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: -0.7rem;
  width: 85%;
}

.eth{
  color: #00fff7;
  margin-left: -5rem;
}

.time{
  color: #8bacda;
  font-weight: 300;
  margin-left: -5rem;
}

hr{
  border: 0;
  background-color: #2f415b;
  position: absolute;
  top: 32rem;
  height: 1px;
  width: 18rem;
}

/* Card Footer */


.card-footer{
  display: flex;
  align-items: center;
  margin-top: 1rem;
  width: 90%;
}

.pp{
  border: 2px solid #FFF;
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
}

.footer-text{
  color: #8bacda;
  margin-left: 1rem;
}

.name{
  color: #FFF;
  font-weight: 600;
}


/* Footer */

.attribution{
  color: #FFF;
}
